

body {
  //background-color: tint(green, 50%);
  color: $font-color;
};

p {
  color: $font-color;
};

h1 {
  margin: 0 auto;
  text-align: center;
}

.center {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.center-block {
  display: table;
  margin: auto;
}

.table-for-buttons {
  margin-left: auto;
  margin-right: auto;
}

.table-cells-for-buttons {
  padding: 10px 30px;
}


.panel {
  width: 100px;
  height: 100px;
  border-radius: 5px;


}

#one {
  background-color: white;
  margin: auto;
  float:left;

}

#two {
  background-color: white;
  margin: auto;
  float: left;

}

#three {
  background-color: white;
  margin: auto;
  float: left;

}

#four {
  background-color: white;
  margin: auto;
  clear: both;
  float:left;
}

#five {
  background-color: white;
  margin: auto;
  float: left;
}

#six {
  background-color: white;
  margin: auto;
  float: left;
}

#seven {
  background-color: white;
  margin: auto;
  clear: both;
  float: left;
}

#eight {
  background-color: white;
  margin: auto;
  float: left;
}

#nine {
  background-color: white;
  margin: auto;
  float: left;
}

.tile {
  height: auto;
  width: auto;
}

.ticBoard {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: pink;
}
